:root {
  --body-color: #f5ebeb;
  --text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  --title-font: "Cormorant Upright", serif;
  --title-color: #2772db;
  --violet-color: #070f4e;
  --teal-color: #3ab1c8;
  --body-font: "IBM Plex Mono", monospace;
}
body {
  background: #f5ebeb;
}
nav {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 2;
}
div .mg-heading {
  text-align: left;
  margin-left: 450px;
}
h1 {
  text-align: left;
  font-family: "Cormorant Upright", serif;
  font-style: normal;
  font-size: 60px;
  font-weight: 600;
  color: var(--violet-color);
}
h2 {
  font-family: var(--title-font);
  font-size: 42px;
  font-weight: 600;
  color: var(--violet-color);
}
.about-me {
  font-size: 19.5px;
  line-height: 2;
}
.inquiry {
  color: var(--violet-color);
  font-family: var(--title-font);
  font-size: 21.5px;
  font-weight: 700;
}
.about-toolbox {
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: 21.5px;
  font-weight: 700;
}
.toolbox {
  font-family: var(--title-font);
  color: var(--title-color);
  font-size: 21.5px;
  font-weight: 700;
}
.toolbox-1 {
  font-family: var(--title-font);
  color: var(--teal-color);
  font-size: 21.5px;
  font-weight: 700;
  margin-top: 50px;
}
.about-heading {
  margin-left: 250px;
}
.about-image {
  width: 270px;
  border-radius: 50%;
  margin-right: 250px;
}
.mg-about {
  margin-right: 160px;
}
.about-stack {
  font-size: var(--body-font);
  font-size: 30px;
  font-weight: 500;
  color: var(--violet-color);
  margin: 0;
}
.project-title {
  font-family: var(--title-font);
  font-size: 32px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 5px;
  color: var(--teal-color);
}
.notes {
  font-size: 20.5px;
  line-height: 2;
}
.notes-plus {
  font-size: 20.5px;
}
.quests {
  font-family: var(--title-font);
  font-size: 21.5px;
  font-weight: 700;
  color: var(--teal-color);
}
.journey {
  text-decoration: none;
  font-weight: 400;
  color: var(--teal-color);
  font-size: 20.5px;
}
.contact {
  margin-top: 50px;
}
.form-label {
  color: var(--violet-color);
}
.form-control {
  margin-bottom: 15px;
}
.social-spaces {
  font-size: 20px;
  margin-bottom: 10px;
}
.new-display {
  margin: 0 250px;
}
.about-icons {
  color: var(--title-color);
  font-size: 70px;
  opacity: 0.9;
}
.work-page-title {
  margin-left: 290px;
}
.work-box-2 {
  margin-bottom: 50px;
}
.work-stack {
  font-family: var(--body-font);
  color: var(--violet-color);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 35px;
}
.work-buttons {
  margin-top: 18px;
}
.work-icons {
  color: var(--title-color);
  font-size: 22px;
  opacity: 0.9;
}
.contact-icons {
  color: var(--title-color);
  font-size: 22px;
  opacity: 0.9;
}
.btn-primary {
  background: var(--title-color);
}
.btn-success {
  background: var(--teal-color);
  color: var(--body-color);
  border: none;
  font-family: var(--body-font);
  font-size: 18px;
  font-style: italic;
  padding: 10px 15px;
  margin-right: 5px;
  line-height: 2;
}
.btn-success:hover {
  background: var(--violet-color);
}
.btn-danger {
  background: var(--teal-color);
  color: var(--body-color);
  border: none;
  font-size: 18px;
  font-style: italic;
  padding: 10px 15px;
  line-height: 2;
}
.btn-danger:hover {
  background: var(--violet-color);
}
h3 {
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  text-align: left;
  text-wrap: balance;
  color: var(--violet-color);
}
h4 {
  font-family: var(--body-font);
  color: var(--teal-color);
  font-size: 21.5px;
  font-weight: 700;
}
.work-photo {
  width: 420px;
}
.mg-image {
  margin-top: 60px;
}
.mg-image-2 {
  margin-top: 90px;
}
.connect {
  text-align: center;
  font-family: "Cormorant Upright", serif;
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  bottom: 20px;
  letter-spacing: 2px;
}
footer {
  text-align: center;
  opacity: 0.55;
  margin-top: 235px;
  color: var(--violet-color);
}
.about-footer {
  margin-bottom: 15px;
}
.work-footer {
  margin-bottom: 15px;
}
.contact-footer {
  margin-bottom: 15px;
}
@media (max-width: 576px) {
  div .mg-heading {
    text-align: center;
    margin: 0;
  }
  h1 {
    text-align: center;
  }
  h2 {
    margin: 30px 0;
    text-align: center;
  }
  div .about-heading {
    margin: 0;
  }
  h3 {
    text-align: center;
    word-wrap: break-word;
  }
  h4 {
    text-align: center;
  }
  img {
    width: 100%;
  }
  div .about-image {
    margin-bottom: 35px;
    margin-right: 85px;
  }
  div .new-display {
    margin: 0;
  }
  div .about-stack {
    margin-top: 70px;
  }
  div .work-page-title {
    margin-left: 0;
  }
  div .work-stack {
    margin-top: 30px;
    text-align: center;
  }
  div .work-photo {
    margin-top: 33px;
  }
  div .col-12 {
    font-size: 22px;
    opacity: 0.8;
  }
  div .col-12:hover {
    cursor: pointer;
  }
  div .stack {
    margin-top: 50px;
  }
  div .notes-plus {
    margin-bottom: 20px;
  }
  div .about-icons {
    font-size: 45px;
    text-align: center;
    margin-top: 10px;
  }
  div .submit-button {
    margin-bottom: 25px;
  }
  footer {
    margin-top: 50px;
    margin-bottom: 15px;
  }
  footer .about-footer {
    margin-bottom: 80px;
  }
}
